In [6]:
import pandas
import os

os.listdir()

['app.ipynb',
 'supermarkets.json',
 'supermarkets.csv',
 'supermarkets-semi-colons.txt',
 'supermarkets.xlsx',
 'app.py',
 'supermarkets-commas.txt']

In [7]:
js = pandas.read_json("supermarkets.json")
js

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [4]:
csv = pandas.read_csv("supermarkets.csv")
csv

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [21]:
xls = pandas.read_excel("supermarkets.xlsx", sheet_name=0).set_index("ID")
xls[1:2]

,Address,City,State,Country,Supermarket Name,Number of Employees
ID,,,,,,
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15

In [33]:
csv.iloc[1:3, 5:6]

          Name
1  Bready Shop
2  Super River

In [37]:
csv["City"]

0    San Francisco
1    San Francisco
2    San Francisco
3    San Francisco
4    San Francisco
5    San Francisco
Name: City, dtype: object